.form-item {
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px,
        rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
    position: relative;
    color: black
}

img {
    border-radius: 15%;
    padding: 2px;
    border-bottom: 2px solid rgba(58, 37, 37, 0.7);
}

.butuon {
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px,
        rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
    color: rgba(23, 63, 7, 7);
}
